#paneWinner{
    -fx-background-image: url("oldMan.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

