#pane{
    -fx-background-image: url("https://advanderzee.files.wordpress.com/2012/08/reims_1.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1280 720;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}